[Unit]
Description=ToadBox Bingo Server
After=network.target

[Service]
Type=simple
User=toadbox
WorkingDirectory=/home/toadbox/sites/bingo
ExecStart=/usr/bin/npm run start:uni
Restart=on-failure
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bingo
Environment=NODE_ENV=production

# Security enhancements
PrivateTmp=true
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=false
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true

[Install]
WantedBy=multi-user.target 